/*isotope*/

* { box-sizing: border-box; }

body { 
  font-family: sans-serif; 
  background-color: grey;
  font-family: avenir;
}

h1, h3 {
  text-shadow: .5px .5px black;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- table-like ---- */
.table-like {
  background: #DDD;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

/* clear fix */
.table-like:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- vertical table-like ---- */
.table-like__item {
  width: 100%;
  clear: both;
  border: 1px solid;
}

.table-like__item > * {
  display: inline-block;
  /*padding: 4px 4px;*/
}

.table-like__item .name { width: 14%; }
.table-like__item .number1 { width: 14%; }
.table-like__item .number2 { width: 14%; }
.table-like__item .number3 { width: 14%; }
.table-like__item .number4 { width: 14%; }
.table-like__item .number5 { width: 14%; }
.table-like__item .number6 { width: 14%; }

.button {
  outline: none;
}

.horizontal-gradient {
  background: linear-gradient(to bottom, #D3D3D3, grey);
}

.navbar-brand {
	font-size: 27px;
	font-weight: bold;
}

.removeGutter {
  margin-left: -4px;
}

#clear {
  border-radius: 8px;
}

#crimeTable {
	margin: 0 20px;
  padding-bottom: 30px;
}

#geochart {
  margin: auto;
  width: 900px;
}

#sorts {
  margin-left: 120px;
  max-width: 1240px;
}

#table-header {
  background: #DDD;
  list-style: none;
  margin-bottom: 2px;
  padding: 0;
  border: 1px solid black;
}

@font-face {
    font-family: avenir;
    src: url(../fonts/avenir.ttf);
}